<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Friend list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>My Friends</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="friend : ${friends}">
                <td th:text="${friend.firstName}">First Name</td>
                <td th:text="${friend.lastName}">Last Name</td>
            </tr>
        </tbody>
    </table>
    <p><a th:href="@{/add}">Add friend</a></p>
</body>
</html>